@font-face {
    font-family: 'Burbank Big';
    /* webpackIgnore: true */
    src: url('/fonts/burbank/BurbankBigRegular-Bold.woff2') format('woff2'),
      url('/fonts/burbank/BurbankBigRegular-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }