.header-library{
    @apply relative text-white px-3 py-4 bg-indigo-cm bg-cover bg-center;
    background-image: url(https://res.cloudinary.com/admsys-storage/image/upload/f_auto,q_auto:best/smarteducation/masterbrain/civicamente-v2/biblioteca/cm-bg-header-tematicas-completadas.png);

  &  h1{
      color: #FFFFFF;
      text-align: left;
      text-shadow: 0 1px 5px rgba(0,0,0,0.30);
    }

  &  p{
      color: #FFFFFF;
      letter-spacing: 0;
    }
  }
